
.moviedetails {
    padding: 3.125rem;
}
.moviedetails img{
    width:auto;
}

.details {
    display: flex;

}

.text {
    margin-left: 2.5rem;
    margin-top: 1.25rem;
}

.rating {
    margin-left: 1.25rem;
}

.watchlist {
    margin-top: 1.25rem;
    margin-left: 2.0625rem;
}

.title {
    margin-left: 0;
    margin-bottom:3rem;
    margin-top:0
}