@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.likebutton {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.6875rem;
    margin-left: 1.25rem;
}

.likebutton::before {
    font-size: 3em;
    color: #4c545d;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.likebutton::after {
    font-size: 3em;
    color: #ff3252;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.likebutton.liked::after {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}


.likebutton:disabled:after, .likebutton.liked:disabled:after{
    color: #4c545d;
}