.loginform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gobacklink {
    margin-top: 2rem;
}

.goback {
    border: 1px solid gray;
    color: gray;
    height: 2.5rem;
    width: 8.25rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    cursor: pointer;
}

.goback:hover {
    transition: all 0.2s ease 0s;
    background: #bdcfe5;
    color: black;
}