.icon{
    margin-right:20px;
    margin-top:3px;
}
.button{
    margin-left:30px;
}
.nav{
    justify-content: space-between;
    display: flex;
    /*background-color: #9bb4cd;*/
    background: rgb(157,155,205);
    background: linear-gradient(125deg, rgba(157,155,205,1) 0%, rgba(155,179,205,1) 61%, rgba(201,218,237,1) 100%);

}

.title{
    display:flex;
    margin:20px;
    margin-top:30px;
}
.links{
    margin-top:27px;
    /*align-content: center;*/
    /*justify-items: center;*/
    /*align-items: center;*/
}
